* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-size: cover;
  background-color: #000;
  background-repeat: repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.App h1 {
  color: #fff;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 3%;
  width: 100%;
}

.App .search input {
  flex: 1;
  padding: 15px;
}

.App .search button {
  flex: 0;
  margin-left: 1rem;
  padding: 15px;
}

.App form input {
  padding: 0.5em 1em;
  width: 100%;
}

.App form button {
  padding: 0.5em 1em;
  white-space: nowrap;
}
/* input {
  margin: 1rem;
  margin: 2rem;
  width: 600px;
  padding: 15px;
}

button {
  padding: 15px;
} */

.element {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.element img {
  max-width: 250px;
  object-fit: cover;
}

.element-div {
  height: 500px;
  border: 2px solid #fff;
  padding: 1rem;
}

p {
  margin: 0 auto;
  color: #fff;
  padding-top: 10%;
}
